[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pandas = "*"
argparse = "*"
requests = "*"
millify = "*"
demjson = "*"
jsonpath-ng = "*"
openpyxl = "*"

[requires]
python_version = "3.8"
